/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  font-family: 'Ubuntu', sans-serif;  
}

.welcome p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

nav ul a,
nav .brand-logo {
  color: #168;
  font-family: 'Raleway bold', sans-serif;
}

.header{
  font-weight: bold;
}

.logo{
  font-family: 'Ubuntu', sans-serif;
  color: teal;
  font-size: 1.5em;
  font-weight: bold;
}

.description {
  font-size: 1em;
}

.project-image {
  border-radius: 50%;
  border: 1px solid gray;
}

p {
  line-height: 2rem;
  font-family: 'Raleway';
  font-size: 1.08em;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 750px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;

  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}