    body { 
    background: none;
    background-color: #eafbff;
    background-size: cover;
    }

    header {
    background: url(../imgs/bg_img.png);
    }
    .content {
        font-size: 1em;
        text-align: left;
        color: #000000;
    }	
    .content img {border-radius: 0%;}
    .content ul {
     	list-style-type: none;
        position: relative;
        font-family: Verdana, sans-serif;

     }
     .content ul li a {
        text-decoration: none;
        color: navy;
        font-family: Verdana, sans-serif;
        font-weight: bold;
        padding: 5px;
        display: block;
      }

    