    body {
      background: none;
      background: url(../imgs/HIRES008full.png);
      /*background: url(../imgs/Clouds01.png); 
      background-size: cover;*/
  }    
    .content {
          font-family: Constantia;
          font-size: 1.1em;
          text-align: left;
          background: none;   
          position: relative;
          float: right;
          width: 70%;
          color: black;
          background-repeat: no-repeat;
          margin-top: 1em;
          margin-right: 4em;
          margin-bottom: 1em;
          padding-right: 180px;
          padding-left: 80px; 
          box-sizing: border-box; 
          border: none;    
    }
    
    .content ul {
        list-style-type: none;
        position: relative;
        } 

     .content ul li a {
        text-decoration: none;
        font-family: Constantia;
        color: black;
        padding: 0.8em;
        font-size: 1.2em;
      }
      
      .content a:hover {color: red;}
      
      aside {
          position: absolute;
          float: left;
          margin-top: 1.5em;
          margin-left: 3em;
          margin-bottom: 2em;
          width: 20%;
          height: 70%;
          background-size: cover;
          /*background: url(../imgs/Clouds01.png);*/
          background-repeat: no-repeat;
          /*background: url(../../HIRES131.png);*/
          background: url(../../HIRES130.png);
                    }
     
/*    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 0px;
    -webkit-column-width: 5em;
     }*/

/*
     
     

     footer {
       
          position: relative;
          margin-top: 30em;
          height: 4em;
          clear: both;
          font-family: sans-serif;
          background-color: #F4EBC3;
          background: url(../../clouds01.png);    
          background-size: cover;
        }
        
*/
        

  