*{
  font-family: Constantia;
  font-size: 1.1em;
  color: black;
  text-align: center;
  background-color: none;
}
.resume{text-align: left}
.resume p {text-align: left}
.resume a {font-size: 1em;}
.resume ul li {font-size: 1em;}

#header h4 {font-family: Magneto;}
#nav {background-color: gray}
#footer {background-color: none;}
#feature {
  background: url(../imgs/brush.png);
  background-size: cover;
}
#nav, #feature, .article, #footer{
  margin-top: 20px;
  padding: 10px,0px,5px,0px; 
} 
#footer {
  width: 960px;
  margin-left: 200px;
  position:relative;
}
#footer li {
  display: inline; 
  padding: 5px;
}
#footer li img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.article{
  font-size: 0.9em;
  background-color:none;
}
#feature {height: 250px;}
.article li {
  font-size:0.8em;
  text-align: left;  
  list-style-type: none;
}
#nav li {
  display: inline; 
  padding: 5px;
  }
#nav li a {
    color:white;
    text-decoration: none;
    font-size: 0.7em;
    text-transform: lowercase;
  }
#nav li a:hover {color: red; text-decoration: underline;}
