   body { 
        /*background: url(../imgs/Clouds01.png);*/
/*        background: url(../imgs/banner.png);*/
        /*background: url(../../new_background.png);*/
        /*background: url(../imgs/bg_img.png);*/
        /*background: url(../imgs/HIRES123.png);*/
        /*background: url(../imgs/HIRES008full.png);*/
        /*background-size: 100% 100%;*/
        background-size: cover;  
        /*animation-name: bd;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 2;
        animation-direction: alternate;*/
        /*background-color: #CCFFCC;   */
        font-color: black;
      }
            
         @keyframes bd {
           from {background: url(../imgs/HIRES123.png); 
              background-size: cover;}
            to {background: url(../imgs/bg_img.png);
              background-size: cover;}
          }

   header p {
          color: black; 
          padding-top: 1em;
          font-size: 1.5em; 
          margin-left: 1em; 
          font-family: Magneto, sans-serif;
         }    
   header {    
           position: relative;
           width: 100%;
           margin-top: -2%;
           height: 5.5em;
           margin-bottom: 0%;   
           /*background-color: lightgray;*/
           /*background: url(../imgs/banner.png);
           /*background: url(../imgs/bg_img.png)*/
           /*background: url(../imgs/Clouds01.png);           */
           background-size: cover;
          /* animation-name: heading;
          animation-duration: 20s;
          animation-timing-function: linear;
          animation-delay: 2s;
          animation-iteration-count: 2;
          animation-direction: alternate;*/
          }


         /* @keyframes heading {
            from {background: url(../imgs/Clouds01.png);}
            to {background: url(../imgs/banner.png);}
          }*/
   header nav ul {
          position: relative;
          margin-top: -0.5em; 
          }
   header nav li {
          display: inline;
          float: right;
          } 
   header nav a { 
          font-family: Aharoni;
          display: block; 
          width: 5em;
          font-size: 1.2em;
          background-color: none;
          text-align: center;
          text-decoration: none;
          text-transform: lowercase;
          }
   header nav li a:hover {
        color: red;
          }
   header nav li a {
        color: black;
        }
   aside {
          /*border: 1px solid red;*/
          position: absolute;
          float: left;
          margin-top: 2em;
          margin-left: 3em;
          width: 20%;
          height: 50%;
          /*background-color: #F4EBC3;*/
/*          background: url(../imgs/banner.png);*/
          }
    footer p {
      float: right;
      margin-right: 0.5em;
      margin-top: -0.3em;
      text-transform: lowercase;
      color: white;
      padding: 0.7em;
      display: block;
      font-family: Aharoni;
      }

    footer ul {
        list-style-type: none;
        position: relative;
        text-align: center;
        }
    footer nav li {
          display: inline;
          /*float: left;*/
        }
    footer ul li a {
        margin-top: -0.3em;
        text-transform: lowercase;
        text-decoration: none;
        color: white;
        padding: 0.7em;
        /*display: block;*/
        font-family: Aharoni;
      }
      footer ul li a img {
        border-radius: 0.5em;
      }
    footer li a:hover {
        color: red;
      }    
      .feature {
          font-size:1.2em;
          font-family: Verdana;          
          background-size:cover;
          float: left;
          margin-top:2%;
          box-sizing: border-box;
          width: 100%;
          color: white;
          height:350px; 
          clear: both;
          background-image: url(../imgs/brush.png);
      }
      .txt {
        margin-top:25%;
        margin-left: 120px;
        width: 80%;
        color: black;
        /*border: 1px solid red;*/
        position: relative;
        /*margin-top: 16em;*/
      }

/*    .feature {
          font-size: 1em;
          position: relative;
          float: right;
          width: 70%;
          font-family: sans-serif;  
          background-repeat: no-repeat;
          margin-top: 1em;
          margin-right: 4em;
          margin-bottom: 1em;
          padding-right: 80px;
          padding-left: 80px; 
          box-sizing: border-box;
          
           }*/
     footer {
          position: relative;
          margin-top: 33em;
          margin-bottom: 0em;
          height: 3em;
          clear: both;
          text-align: center;
          /*background-color: #F4EBC3;*/
          /*background: url(../imgs/Clouds01.png);*/
/*          background: url(../imgs/banner.png);    */
          /*background-size: cover;*/
        }
        
     