*{
  font-family: Constantia;
  color: black;
  }

#nav, #header h1 {
  text-align: left;
}

.blog-nav {
  background-color: #333;
  height: 50px;
}

.blog-nav ul {
  padding: 10px;
}

.blog-nav ul li a{
  color: white;
}
#nav, #feature, .article, #footer {
  background-color: white;
  margin-top: 20px;
  padding: 10px,0px,5px,0px; 
  font-size: 1.2em;
} 

#feature {
  color: white;
  height: 250px;
  /*background-image: url(../imgs/bg_img.png);*/
  background-image: url(../imgs/brush.png);
  background-size: cover;
  animation-name: banner;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate; 
  }
  @keyframes banner {
  from {background-image: url(../imgs/brush.png);}
  to {background-image: url(../imgs/bg_img.png);}
}

li {
  display: inline; padding: 5px;
}
li a {
  text-decoration:none; 
  text-transform: lowercase;
}
 li a:hover {color:red; 
  text-decoration: underline;}
