*{
  font-family: Constantia;
  font-size: 1.1em;
  color: black;
  text-align: center;}

#nav, #feature, .article, #footer {
margin-top: 20px;
padding: 10px,0px,5px,0px; 
} 

#feature, .article {
  height: 200px;
  background-color: #c0c0c0;
  
}
#feature {
  background: url(../imgs/banner.png);
  background-color: none;  
  background-size: cover;
  height: 250px;
  /*animation-name: main;
          animation-duration: 25s;
          animation-timing-function: ease-in-out;
          animation-delay: 0s;
          animation-iteration-count: 2;
          animation-direction: alternate;*/
}
#feature p {  color: white;
  text-align: left;
  font-size: 0.9em;
  margin-left: 1em;
}

li {display: inline; 
    padding: 5px;
    }
li a {text-decoration: none;
    font-size: 0.7em;
    text-transform: lowercase;}
li a:hover {
        color: red;
          }
body { 
        /*background: url(../imgs/Clouds01.png);*/
        /*background: url(../imgs/banner.png);*/
        /*background: url(../imgs/bg_img.png);*/
        background-size: cover;
        background-color: none;
     }   
/*
@keyframes main {
            from {background: url(../imgs/banner.png);}
            to {background: url(../imgs/bg_img.png); }
          }
*/
