/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1.3em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    font-family: Constantia;
}
ul, ol{
-web-kit-margin-before:0;
-web-kit-margin-after:0;
-web-kit-margin-start:0;
-web-kit-margin-end:0;
-web-kit-padding-start:0;
}
.debug {
    /*border: 1px solid red;*/
}
.p-xs{padding: 0.4em;}
.p-sm{padding: 0.6em;}
.p-xxl {padding: 10em; }
.banner-text {
    font-size: 1.5em; 
    margin:auto;
    text-align: center;
  }
.banner-subheading {
    font-size: 1em; 
    margin:auto;
    text-align: center;
  }

/*.img-left, .img-right, .img-center {
  text-align: center; margin: auto;
  height: 200px; width: 200px; padding: 10px;}
*/
.bgc-cool {
    color: white;
    height: 20px;
    /*background-image: url(../imgs/bg_img.png);*/
    background-image: url(../imgs/brush.png);
    background-size: cover;
    animation-name: banner;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    }
  @keyframes banner {
            from {background-image: url(../imgs/brush.png);}
            to {background-image: url(../imgs/bg_img.png);}
          }
.bgc-bone {background-color: #f5f8fa;}

.fz-xxl {font-size: 16em;}
.fl-l{float: left; font-size: 1.3em;}
.fl-r{float: right;}
.lis-n{list-style: none;}

.bdrds-lg{border-radius: 16px;}

.bds-solid{border-style: solid;}
.bdw-1{border-width: 3px;}
.bdc-fog{border-color: #e1e8ed;}
.tt--logo{padding-right: 30px;}

header nav li img {     
        height:60px;
        width: 60px;
        border-radius: 60px;
        border: 1px solid white;
  }

header {background-color: none;}

header nav ul {
          position: relative;
          margin-top: -0.5em; 
          margin-left:20px;
          }
header nav li {
          display: inline;
          float: right;
          } 
header nav a {          
          font-family: Constantia, Gill sans MT;
          display: block; 
          padding: 8px;
          font-size: 0.8em;
          text-align: center;
          text-decoration: none;
          text-transform: lowercase;
          }
header nav li a:hover {
        color: red;
        text-decoration: underline;
        }
header nav li a {
        color: black;
        }

footer p {
      float: right;
      margin-right: 0.5em;
      margin-top: -0.3em;
      margin-left: 50px;
      color: white;
      padding: 0.7em;
      display: block;
      }

footer ul {
    /*border: 1px solid red;*/
        list-style-type: none;
        margin-top: 70px;*/
        position: relative;
        /*text-align: center;*/
        }
footer nav li {
          display: inline;
          /*float: left;*/
        }
footer ul li a {
        color: black;
        font-family: Constantia;
        font-size: 1em;
        margin-top: -0.3em;
        text-transform: lowercase;
        text-decoration: none;
        /*color: white;*/
        padding: 0.7em;
        /*display: block;*/
        /*font-family: Aharoni;*/
      }
footer ul li a:hover {
    color:red; 
    text-decoration: underline;
    }
footer ul li a img {border-radius: 0; 
  }

input {
      border: 1px solid gray;
      padding: 8px;
      font-size: 1em;
      /*border-radius: 12px;*/
    }
/*input[type="submit"] {
      background: red;
      color: white;     
    }*/

/* ==========================================================================
   Media Queries
   ========================================================================== 

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

/*@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}*/